{% if lastExecution %}
    {% set state = lastExecution.state %}
    {% if state == 'success' %}
        {% set badgeClass = 'badge-success' %}
    {% elseif state == 'error' %}
        {% set badgeClass = 'badge-danger' %}
    {% else %}
        {% set badgeClass = 'badge-warning' %}
    {% endif %}
    <a class="badge {{ badgeClass }}" href="{{ path('execution_show', {id: lastExecution.id}) }}">{{ state|trans }}</a>
{% else %}
    <span class="badge badge-secondary">N/A</span>
{% endif %}
