{% if lastExecution %}
    {% set state = lastExecution.state %}
    {% if state == 'success' %}
        {% set labelClass = 'label-success' %}
    {% elseif state == 'error' %}
        {% set labelClass = 'label-danger' %}
    {% else %}
        {% set labelClass = 'label-warning' %}
    {% endif %}
    <a class="label {{ labelClass }}" href="{{ path('execution_show', {id: lastExecution.id}) }}">{{ state|trans }}</a>
{% else %}
    <span class="label label-default">N/A</span>
{% endif %}
